@using API_Archi;
@using Architecture.Models;

@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/site.js"></script>



@{
    if (Model.Bookings.Count != 0)
    {
        <table>
            Liste des billets
            <tr>
                <td>Prénom</td>
                <td>Nom</td>
                <td>Vol</td>
                <td>Date</td>
            </tr>
            @{
                foreach (PreBooking booking in Model.Bookings)
                {
                    <tr>
                        <td>@booking.firstName</td>
                        <td>@booking.lastName</td>
                        <td>@booking.FlightId</td>
                        <td>@booking.date</td>
                    </tr>
                }
            }

        </table>
    }
}


<form method="post" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexPost">
    <div class="text-center">
        <h1 class="display-4">Bienvenue</h1>
        <label for="flight-select">Choisissez un vol:</label>

        @*SourceOption(@flight.source)*@
        <select id="SelectedFlight" name="flight" onchange="SourceOption(document.getElementById('SelectedFlight'))">
            @{
                foreach (Flight flight in Model.Flights)
                {
                    string idSource = flight.id + "_" + flight.source;
                    <option value="@idSource " source= "@flight.source" train="@flight.IsThereATrain()">@flight.ToString()</option>

                }
            }
        </select>
    </div>

    <fieldset>
        <legend>Qui voyage ?</legend>
        <div>
            <label for="FirstName">Prénom:</label>
            <input type="text" name="FirstName" value="" required />
        </div>
        <div>
            <label for="LastName">Nom:</label>
            <input type="text" name="LastName" value="" required />
        </div>
        <div>
            <label for="Date">Date:</label>
            <input type="date" name="Date" required />
        </div>

        <legend>Options</legend>
        

        <input type="hidden" value="@Model.JsonStringBookings" name="bookings" />
        <input type="hidden" value="" name="Submit" id="submit" />
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Payer" class="submit" onClick="funcPayer()" />
            <input type="submit" value="Mettre dans le panier" class="submit" onClick="funcTransac()" />
        </div>
    </fieldset>
</form>
