@using API_Archi;
@using Architecture.Models;

@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/site.js"></script>



@{
    if (Model.Bookings.Count != 0)
    {
        <table>
            Liste des billets
            <tr>
                <td>Prénom</td>
                <td>Nom</td>
                <td>Vol</td>
                <td>Date</td>
            </tr>
            @{
                foreach (PreBooking booking in Model.Bookings)
                {
                    <tr>
                        <td>@booking.firstName</td>
                        <td>@booking.lastName</td>
                        <td>@booking.FlightId</td>
                        <td>@booking.date</td>
                    </tr>
                }
            }

        </table>
    }
}


<form method="post" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexPost">
    <div class="text-center">
        <h1 class="display-4">Bienvenue</h1>
        <label for="flight-select">Choisissez un vol:</label>

        @*SourceOption(@flight.source)*@
        <select name="flight" id="flight-select" onchange="SourceOption(1)">
            @{
                foreach (Flight flight in Model.Flights)
                {
                    <option value="@flight.id">@flight.ToString()</option>

                }
            }
        </select>
    </div>

    <fieldset>
        <legend>Qui voyage ?</legend>
        <div>
            <label for="FirstName">Prénom:</label>
            <input type="text" name="FirstName" value="" required />
        </div>
        <div>
            <label for="LastName">Nom:</label>
            <input type="text" name="LastName" value="" required />
        </div>
        <div>
            <label for="Date">Date:</label>
            <input type="date" name="Date" required />
        </div>

        <div name="ExternalFlightDiv">
            <legend>Options</legend>



            <div name="ChildDiv">
                <label for="Child">Tarif enfant -10ans => -10%</label>
                <input type="checkbox" name="Child" checked value="true" />
                <input type="hidden" name="Child" value="false" />
            </div>
            <div name="LuggageDiv">
                <label for="Luggage">Bagage : 50€</label>
                <input type="checkbox" name="Luggage" checked value="true" />
                <input type="hidden" name="Luggage" value="false" />
            </div>
            <div name="FirstClassDiv">
                <label for="FirstClass">Première Classe : 50€</label>
                <input type="checkbox" name="FirstClass" checked value="true" />
                <input type="hidden" name="FirstClass" value="false" />
            </div>
            <div name="ChampagneOnBoardDiv">
                <label for="ChampagneOnBoard">Champagne : ??€</label>
                <input type="checkbox" name="ChampagneOnBoard" checked value="true" />
                <input type="hidden" name="ChampagneOnBoard" value="false" />
            </div>
            <div name="LoungAccessDiv">
                <label for="LoungeAccess">Acces Lounge : ??€</label>
                <input type="checkbox" name="LoungeAccess" checked value="true" />
                <input type="hidden" name="LoungeAccess" value="false" />
            </div>
        </div>

        <div type="hidden" name="InternalFlightDiv">
            <legend>Options</legend>



            <div name="ChildDiv">
                <label for="Child">Tarif enfant -10ans => -10%</label>
                <input type="checkbox" name="Child" checked value="true" />
                <input type="hidden" name="Child" value="false" />
            </div>
            <div name="LuggageDiv">
                <label for="Luggage">Bagage : 50€</label>
                <input type="checkbox" name="Luggage" checked value="true" />
                <input type="hidden" name="Luggage" value="false" />
            </div>
           
        </div>

        <div type="hidden" name="InternalFlightWithTrainDiv">
            <legend>Options</legend>



            <div name="ChildDiv">
                <label for="Child">Tarif enfant -10ans => -10%</label>
                <input type="checkbox" name="Child" checked value="true" />
                <input type="hidden" name="Child" value="false" />
            </div>
            <div name="LuggageDiv">
                <label for="Luggage">Bagage : 50€</label>
                <input type="checkbox" name="Luggage" checked value="true" />
                <input type="hidden" name="Luggage" value="false" />
            </div>
            <div name="FirstClassDiv">
                <label for="FirstClass">Première Classe : 50€</label>
                <input type="checkbox" name="FirstClass" checked value="true" />
                <input type="hidden" name="FirstClass" value="false" />
            </div>
        </div>


        <input type="hidden" value="@Model.JsonStringBookings" name="bookings" />
        <input type="hidden" value="" name="Submit" id="submit" />
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Payer" class="submit" onClick="funcPayer()" />
            <input type="submit" value="Mettre dans le panier" class="submit" onClick="funcTransac()" />
        </div>
    </fieldset>
</form>
